*.pyc
*~
.DS_Store
.ipynb_checkpoints
_site
book.md
*/*/*_files/*/*/*.text
*/*/*_files/*/*/*.html
novice-git-backup/
novice-git-intro/
novice-git-open/
novice-shell-create/
novice-shell-filedir/
novice-shell-intro/
template/
